/* 초기화 */

* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

/* a { text-decoration: none; }
li { list-style: none; } */

/* 기본 클래스 */

/* .pull-left {float: left}
.pull-right {float: right} */

/* 페이지 구성 */

body {
	margin: 0;
}

/* 
#page-wrapper {
    background: white;
    margin: 40px 0; padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
} */

/* 헤더 구성 */

#main-header {
	padding: 40px 50px;
	display: inline-block;
}

#main-header .master-img {
	float: left;
	/* display: inline-block; */
	width: 30px;
	height: 30px;
}

#main-header .master-title {
	position: relative;
	/* display: inline-block; */
}

#main-header .master-user {
	float: right;
	/* display: inline-block; */
	width: 30px;
	height: 30px;
}

.main-center {
	border: 1px solid C8C8C8;
	text-align: center;
	border-collapse: collapse;
}

/* center-top */

.center-top {
	width: 100%;
}

.center-top .top-body {
	padding: 8px 5px;
	border-bottom: 1px solid #C8C8C8;
	background: #DCDCDC;
}

/* main-table */

.main-table {
	width: 100%;
}

.main-table .table-header {
	background: #DCDCDC;
}

.main-table .table-header .table-head {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.main-table .table-head,
.main-table .table-cell {
	border: 1px solid #DCDCDC;
	padding: 5px 4px;
}

.main-table .table-body .table-cell {
	font-size: 13px;
}

/* setting div tag table  */

.main-table {
	display: table;
}

.table-header {
	display: table-header-group;
}

.table-body {
	display: table-row-group;
}

.table-row {
	display: table-row;
}

.table-head,
.table-cell {
	display: table-cell;
}

.table-col1 {
	width: 50%;
}

.table-col2 {
	width: 20%;
}

.table-col3 {
	width: 30%;
}