#content {
    padding: 20px 20px;
}

.content-top {
    height: 23px;
    padding: 3px 5px;
    margin-bottom: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 3px rgba(100, 100, 100, 0.3);
}

.content-section {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 3px rgba(100, 100, 100, 0.3);
}

/* top style */
.content-top div.cur-dir-path {
    float: left;
    height: 15px;
    /* Firefox */
    width: -moz-calc(58% - 10px);
    /* WebKit */
    width: -webkit-calc(58% - 10px);
    /* Opera */
    width: -o-calc(58% - 10px);
    /* Standard */
    width: calc(58% - 10px);
    padding: 3px 5px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis
}

.content-top div.delimiter {
    float: right;
    height: 23px;
    border-left: 1px dashed rgba(100, 100, 100, 0.3);
    padding-right: 5px;
}

.content-top > .upload-form {
    float: right;
    height: 22px;
    width: 40%;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 5px;
    background-color: #ffffff;
    vertical-align: middle;
}

.upload-form > #upload-form > input {
    font-size: 11px;
}

.upload-form > #upload-form > input#upload-file {
    float: left;
    width: 50%;
    margin: 1px 8px;
    
}

.upload-form > #upload-form > input#upload-submit {
    float: right;
    margin: 1px 8px;
    padding: 1px 5px;
}

@media only screen and (max-width: 600px) {
    .content-top {
        height: 50px;
    }
    .content-top div.cur-dir-path {
        margin-bottom: 3px;
        /* Firefox */
        width: -moz-calc(100% - 10px);
        /* WebKit */
        width: -webkit-calc(100% - 10px);
        /* Opera */
        width: -o-calc(100% - 10px);
        /* Standard */
        width: calc(100% - 10px);
    }
    .content-top div.delimiter {
        display: none;
    }
    .content-top>.upload-form {
        float: left;
        width: 100%;
    }
}


/* table style */
.gray-table {
    width:100%;
    border-radius: 5px;
}

.gray-table .col1 {
    width: 60%;
}

.gray-table .col2 {
    width: 30%;
}

.gray-table .col3 {
    width: 10%;
}

.gray-table .div-table-head
, .gray-table .div-table-cell {
    padding: 7px 0;
    border: 1px solid #E6E6E6;
    border-collapse: collapse;
    color: #333333;
}

.gray-table .div-table-heading .div-table-head {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.gray-table .div-table-body .div-table-cell {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
}

.gray-table .div-table-body .col2 {
    text-align: center;
}

.gray-table .div-table-body .col3 {
    text-align: center;
}

/* hover */
.hover {
    transition: all 0.5s, color 0.3s 0.3s;
    cursor: pointer;
}
.hover:hover {
    color:#ffffff;
    box-shadow:
            0 28px 0 0  #1C1C1C inset,
            0 -28px 0 0  #1C1C1C inset;
}

/*context menu*/
.context-menu-list {
    background: black;
    border: 1px solid black;
}

.context-menu-list:after {
    bottom: 100%;
    left: 5%;
    border: solid rgba(122, 122, 122, 0);
    border-bottom-color: #1C1C1C;
    border-width: 8px;
    margin-left: -5px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.context-menu-item {
    background-color: #1C1C1C;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10px;
    text-decoration: underline;
    color: #fff;
}

.context-menu-item:hover {
    background-color: #ffffff;
    color: #1C1C1C
}