.tool-tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 120px;
    background-color: #1C1C1C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 130%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
}

.tool-tip .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tool-tip:hover .tool-tip-text {
    visibility: visible;
}